
.docs-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 65px;
	background-color: #026664;
}
.docs-title {
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: #ffffff;
	font-weight: bolder;
	font-family: nanumgothicBold;
	font-size: 45px;
	letter-spacing: -0.1em;
}

.docs-center {
	width: 1600px;
	min-height: 700px;
	padding-bottom: 100px;
}