
.center {
	width: 100%;
	height: 550px;
	background-color: #026664;
}
.menu-area {
	width: 100%;
	height: 60px;
	position: fixed;
	top: 0;
	padding-top: 20px;
	padding-right: 30px;
	background: #026664;
	z-index: 2;
}
.menu-btn {
	background: transparent;
	border: none;
	font-size: 17px;
	font-family: nanumgothic;
	color: #fff;
	float: right;
	margin-right: 20px;
	outline: 0;
}
.menu-btn:hover {
	color: #bad1ff;
}
.text-area {
	width: 700px;
	height: 200px;
	position: absolute;
	bottom: 150px;
	left: 0;
	right: 0;
	margin: auto;
}
.title-text {
	width: 100%;
	padding-left: 25px;
	text-align: center;
	font-size: 90px;
	letter-spacing: -0.05em;
	font-family: nanumgothicBold;
	margin-bottom: 30px;
	color: #fff;
}
.subtitle-text {
	width: 100%;
	font-size: 20px;
	margin-bottom: 5px;
	text-align: center;
	font-family: nanumgothic;
	color: #cae1ff;
}
.bottom-menu-area {
	width: 100%;
	height: 340px;
	margin-bottom: 100px;
	border-bottom: 1px #ccc solid;
	box-shadow: 0px 0px 2px 0.3px #f0f0f0;	
}
.new-meetings-area {
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 520px;
	height: 170px;
}
.block-label {
	font-size: 30px;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 0;
	font-family: nanumgothicBold;
	letter-spacing: -0.05em;
}
.new-meetings-input {
	width: 520px;
	height: 70px;
	margin-top: 10px;
	font-size: 20px;
	clear: both;
	float: left;
	padding: 10px;
}
.new-meetings-input input {
	width: 500px;
	height: 50px;
	padding-left: 20px;
	font-size: 21px;
}
.users-area {
	margin: auto;
	margin-top: 0;
	margin-bottom: 0;
	width: 520px;
	height: 170px;
}
.users-area-text {
	width: 100%;
	text-align: center;
	margin-top: 10px;
	font-size: 18px;
}