
.center {
	width: 100%;
	height: 650px;
	background-color: #026664;
}
.menu-area {
	width: 530px;
	height: 40px;
	position: fixed;
	right: 50px;
	top: 40px;
}
.menu-btn {
	background: transparent;
	border: none;
	font-size: 21px;
	font-family: nanumgothicBold;
	color: #fff;
	float: left;
	margin-right: 20px;
	outline: 0;
}
.menu-btn:hover {
	color: #bad1ff;
}
.text-area {
	width: 850px;
	height: 200px;
	position: absolute;
	bottom: 150px;
	left: 520px;
}
.title-text {
	width: 100%;
	margin-left: -50px;
	text-align: center;
	font-size: 100px;
	letter-spacing: -0.05em;
	font-family: nanumgothicBold;
	margin-bottom: 30px;
	color: #bad1ff;
}
.subtitle-text {
	width: 100%;
	font-size: 22px;
	margin-left: -60px;
	margin-bottom: 5px;
	text-align: center;
	font-family: nanumgothic;
	color: #fff;
}
.new-meetings-area {
	width: 100%;
	height: 170px;
}
.block-label {
	font-size: 30px;
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 30px;
	padding-right: 180px;
	margin-bottom: 0;
	font-family: nanumgothicBold;
	letter-spacing: -0.05em;
}
.new-meetings-input {
	width: 520px;
	height: 70px;
	margin-top: 10px;
	font-size: 20px;
	clear: both;
	float: left;
	margin-left: 610px;
	padding: 10px;
}
.new-meetings-input input {
	width: 500px;
	height: 50px;
	padding-left: 20px;
	font-size: 21px;
}
.users-area {
	width: 100%;
	height: 170px;
	border-bottom: 1px #ddd solid;
	margin-bottom: 100px;
	box-shadow: 0px 0px 2px 0.3px #f0f0f0;	
}
.users-area-label {
	padding-right: 195px;
}
.users-area-text {
	clear: both;
	float: left;
	width: 100%;
	text-align: center;
	padding-right: 210px;
	margin-top: 10px;
	font-size: 18px;
}